.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
android/.gradle/
android/local.properties
android/app/build/
*.jks
*.keystore
*.key
*.pem
.env*

ios/Flutter/
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/
ios/Runner/GeneratedPluginRegistrant.*

# Dependencies & Build Outputs
node_modules/
out/
